/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
html{
	@apply text-base leading-normal antialiased font-normal text-black font-sans;
	font-synthesis: none;
	font-kerning: normal;
}
h1{
	@apply font-header text-60 leading-tight font-extrabold mb-8 text-black-dark text-center relative pb-8;
	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: calc(50% - 55px);
		background: theme(colors.blue.default);
		width: 110px;
		height: 7px;
		margin: 0 auto;
	}
}
h2,.h2{
	@apply font-header text-28 leading-wide mb-10 text-black-light;
}
h3,.h3{
	@apply font-header text-23 font-bold mb-4;
}
h4,.h4{
	@apply text-20 font-bold mb-6;
}
h5{
	@apply font-bold mb-4;
}
h6{
	@apply text-16 font-bold mb-3;
}
p{
	@apply mb-6;
}
a{
	@apply text-blue;
	&:hover,&:focus{
		@apply text-green-dark;
	}
}
.long-text{
	.text-align-center{
		@apply text-center;
	}
	.text-align-right{
		@apply text-right;
	}
	a{
		@apply underline;
		&:hover,&:focus{
			@apply no-underline;
		}
	}
	ul{
		@apply mb-6;
		li{
			@apply mb-1;
			&:before{
				content: '•';
				@apply mr-3;
			}
			ul{
				@apply mt-2 mb-2 pl-5;
			}
			ol{
				@apply list-decimal mt-2 mb-2 ml-5;
			}
		}
	}
	ol{
		@apply list-decimal ml-4 mb-6;
		li{
			@apply mb-1;
			ul{
				@apply mt-2 mb-2;
			}
			ol{
				@apply list-decimal mt-2 mb-2 ml-4;
			}
		}
	}
}
.gradient-ex{
	min-height: 200px;
}
.gradient-wtf{
	background-image: linear-gradient(to bottom, #e4f0e2 , #ffffff);
}
.visually-hidden{
	position: absolute;
	left: -900vw;
	top: 0;
	font-size: 1px;
	opacity: .1;
	&.focusable:focus,&.focusable:active{
		position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    font-size: 18px;
    opacity: 1;
    padding: 5px 10px;
	}
}


.md-ml-wipe{
	@media all and (min-width: theme(screens.md)){
		margin-left: 0 !important;
	}
}

@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/* BUTTON */
.btn{
	@apply bg-blue text-white tracking-wide uppercase px-6 py-4 font-header font-bold;
	&:hover,&:focus{
		@apply bg-green-dark text-white;
	}
	&.btn-alt{
		@apply bg-green-dark;
		&:hover,&:focus{
			@apply text-white bg-grey-dark;
		}
	}
	&.btn-arrow{
		@apply inline-block relative pl-10 pr-4 py-3;
		height: 50px;
		margin-left: -25px;
		&:before{
			@apply absolute block top-0 w-0 h-0;
			content: '';
			right: -25px;
			-webkit-transform: rotate(0.05deg);
			-moz-transform: scale(1.1);
			transform: rotate(0.05deg);
			border-top: 25px double rgba(0,0,0,0);
			border-bottom: 25px double rgba(0,0,0,0);
			border-left: 25px solid theme(colors.blue.default);
		}
		&:after{
			@apply absolute block inset-0;
			content: '';
			width: 0;
			height: 0;
			-webkit-transform: rotate(0.05deg);
			-moz-transform: scale(1.1);
			transform: rotate(0.05deg);
			border-top: 25px double rgba(0,0,0,0);
			border-bottom: 25px double rgba(0,0,0,0);
			border-left: 25px solid theme(colors.grey.light);
		}
		&:hover,&:focus{
			&:before{
				border-left-color: theme(colors.green.dark);
			}
		}
	}
	@media screen and (min-width: theme(screens.md)){
		@apply px-8;
	}
}

/* MAIN MENU LINKS */
.main-link{
	a{
		@apply border-b border-grey-mid text-black block px-6 py-4 tracking-wide leading-none text-20;
		&:hover,&:focus{
			@apply bg-white-blue text-green-dark;
		}
		&.active{
			@apply text-blue;
			&:hover,&:focus{
				@apply text-green-dark;
			}
		}
		&[aria-current="page"]{
			@apply text-blue;
			&:hover,&:focus{
				@apply text-green-dark;
			}
		}
	}
	&:last-child a{
		border-bottom: 0;
	}
	@media screen and (min-width: theme(screens.md)){
		a{
			@apply border-0 px-3 relative;
			&:hover,&:focus{
				@apply bg-transparent text-green-dark underline;
			}
		}
		&:not(:last-child) a{
			&:after{
				content: '';
				display: block;
				height: 24px;
				width: 2px;
				background-color: theme(colors.grey.mid);
				position: absolute;
				right: 0;
				top: calc(50% - 12px);
				-webkit-transform: rotate(20deg);
				-moz-transform: rotate(20deg);
				-ms-transform: rotate(20deg);
				transform: rotate(20deg);
			}
		}
	}
	@media screen and (min-width: theme(screens.lg)){
		a{
			@apply text-22;
		}
	}
}

.footer-menu-item{
	@apply text-16 inline;
	&:not(:last-child):after{
		content: '/';
		display: inline-block;
		padding: 0 10px 0 9px;
		color: theme(colors.black.default);
	}
	a{
		&[aria-current="page"]{
			@apply text-black;
			&:hover,&:focus{
				@apply text-green-dark;
			}
		}
	}
}

/* CARD IMAGES */
.card-image{
	@apply relative overflow-hidden block;
	flex: 0 0 30%;
	min-height: 250px;
	&.card-small{
		flex: 0 0 127px;
		min-height: 236px;
	}
	& > div{
		height: 100%;
	}
}
.card-text{
	@apply flex flex-col justify-center py-4 px-6 text-left;
	&.card-small{
		@apply px-8;
	}
	@media all and (min-width: theme(screens.md)){
		&.card-small{
			@apply px-6;
		}
	}
}

/* PARAGRAPH ITEMS */
.paragraph-item{
	@apply mb-8;
	h2.h3.widget-title{
		@apply mb-3 mx-auto text-center max-w-2xlHalf;
		&.force-left{
			@media all and (min-width: theme(screens.md)){
				@apply text-left;
			}
		}
	}
	@media all and (min-width: theme(screens.lg)){
		@apply mb-12;
	}
}

/* FORM ELEMENTS */
.form-item{
	@apply mb-6 font-header;
	label{
		@apply font-bold text-20 mb-2;
	}
	&.form-text{
		input{
			@apply border border-grey-dark w-full px-2 py-3half leading-none;
		}
		textarea{
			@apply border border-grey-dark w-full px-2 py-3half;
		}
	}
	&.form-required{
		label:after{
			content: '*';
			@apply text-red text-base ml-1 relative;
			top: -4px;
		}
	}
}


/* TRIAGE 
--------------- */
.stepper{
	& > div > div > div{
		a{
			@apply font-header;
			font-weight: 700 !important;
		}
		& > div{
			@apply flex-col justify-center;
			display: flex !important;
			a{
				@apply font-bold font-sans;
			}
		}
	}
}
.triage-steps{
	.checkbox,.radio{
		@apply relative inline-block pl-8 mb-6;
		-webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
		span:before{
			@apply absolute z-20 border border-grey-mid cursor-pointer w-5half h-5half;
			content: '';
			top: -2px;
			left: 0;
		}
		input{
			@apply absolute opacity-0 cursor-pointer;
			&:hover,&:focus{
				+ span:before{
					background: theme(colors.grey.light);
				}
			}
			&:checked{
				+ span:before{
					background: theme(colors.green.default);
				}
				+ span:after{
					@apply absolute z-30;
					content: '';
					left: 8px;
					top: 1px;
					width: 8px;
					height: 17px;
					border: solid white;
					border-width: 0 3px 3px 0;
					-webkit-transform: rotate(35deg);
				  -ms-transform: rotate(35deg);
				  transform: rotate(35deg);
				}
				&:hover,&:focus{
					+ span:before{
						background: theme(colors.green.dark);
					}
				}
			}
		}
	}
	.radio span:before{
		border-radius: 50%;
	}
	@media screen and (device-aspect-ratio: 9/16) {
	  input[type="text"]{ 
	  	font-size: 1fpx !important; 
	  }
	}
}

.livechat-wrapper{
	@apply absolute z-10 text-center;
	top: -30px;
	right: -webkit-calc(50% - 75px);
	right: -moz-calc(50% - 75px);
	right: -o-calc(50% - 75px);
	right: calc(50% - 75px);
	width: 150px;
	@media all and (min-width: theme(screens.lg)){
		right: 10px;
	}
	.livechat_button{
		@apply m-auto rounded-full;
		width: 108px;
		height: 108px;
		box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.18);
		overflow: hidden;
  }
}
.file-link{
	span{
		width: 18px;
		height: 18px;
		margin-right: 4px;
		display: inline-block;
		position: relative;
		top: 2px;
		svg{
			width: inherit;
			height: inherit;
		}
	}
}



/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

/* HEADER */
.site-header{
	min-height: 150px;
	@media screen and (min-width: theme(screens.lg)){
		min-height: 164px;
	}
}

/* TOOLTIP */
.tippy-popper{
	max-width: calc(100% - 10px);
	margin-top: -10px;
	button{
		width: 132px;
		@media screen and (min-width: theme(screens.lg)){
			width: 150px;
		}
	}
}

/* ESCAPE ICON  */
.esc-position{
	top: calc(50% - 13px);
	right: 1rem;
	@media all and (min-width: theme(screens.md)){
		right: 1.5rem;
	}
}

/* TRANSLATE BUTTON && HELPER */
.trans-button{
	padding: 12.5px 20px 12.5px 20px;
	@media all and (min-width: theme(screens.md)){
		padding: 9px 20px 4px;
	}
}
.trans-arrow:after{
	@apply absolute z-50 block w-0 h-0;
	content: '';
	top: 125%;
	left: -webkit-calc(50% - 7px);
	left: -moz-calc(50% - 7px);
	left: -0-calc(50% - 7px);
	left: calc(50% - 7px);
	-webkit-transform: rotate(0.05deg);
	-moz-transform: scale(1.1);
	transform: rotate(0.05deg);
	border-bottom: 7px solid theme(colors.white.default);
	border-left: 7px double transparent;
	border-right: 7px double transparent;
}
.trans-help{
	@apply absolute z-50 bg-white;
	top: 125%;
	margin-top: 7px;
	left: -126px;
	box-shadow: 0 4px 20px 4px rgba(0,20,60,.1),0 4px 80px -8px rgba(0,20,60,.2);
	border-radius: 4px;
	font-size: .95rem;
	padding: .4rem .8rem;
	width: 300px;
	@media screen and (min-width: theme(screens.md)){
		left: auto;
		right: -170px;
		width: 420px;
	}
}

/* MOBILE MENU WRAPPER */
.m-menu-wrapper{
	top: 72px;
	-webkit-transition: -webkit-transform .3s ease;
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  transition: transform .3s ease;
	&.open{
		@media screen and (max-width: theme(screens.md)){
			-webkit-transform: translate(0, 0%);
    	-moz-transform: translate(0, 0%);
   	 	-ms-transform: translate(0, 0%);
    	transform: translate(0, 0%);
  	}
	}
	&.closed{
		@media screen and (max-width: theme(screens.md)){
			-webkit-transform: translate(-150vw, 0%);
    	-moz-transform: translate(-150vw, 0%);
    	-ms-transform: translate(-150vw, 0%);
    	transform: translate(-150vw, 0%);
  	}
	}
}

/* LOGO GRID */
.logo-grid{
	li{
		max-width: 240px;
		&.image-34{
			@media all and (min-width: theme(screens.md)){
				width: 22%;
				max-width: 200px;
			}
		}
	}
	@media all and (max-width: theme(screens.md)){
		max-width: 500px;
	}
}

.site-footer{
	padding-top: 170px;
	position: relative;
	padding-bottom: 200px;
	overflow: hidden;
	@media all and (min-width: theme(screens.md)){
		padding-bottom: 160px;
	}
	@media all and (min-width: theme(screens.lg)){
		padding-top: 115px;
	}
	&:before{
		content: '';
		@apply block absolute inset-0 bg-greenBlue;
		height: 55px;
	}
	.landscape{
		position: absolute;
		width: 550px;
		left: calc(50% - 270px);
		bottom: -187px;
	}
}

/* HOMEPAGE */
.intro-text{
	.intro-headline{
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: calc(50% - 55px);
			background: theme(colors.blue.default);
			width: 110px;
			height: 7px;
			margin: 0 auto;
		}
		a{
			@apply font-extrabold underline;
		}
	}
	@media all and (min-width: theme(screens.md)){
		width: 55%;
		min-height: 450px;
		.intro-headline{
			&:after{
				content: none;
			}
		}
	}
	@media all and (min-width: theme(screens.cmax)){
		width: 48%;
	}
}
.intro-image-wrapper{
	@apply -mx-4;
	height: 450px;
	.intro-image-inner{
		position: relative;
		left: 50%;
		top: 50%;
		width: 510px;
		transform: -webkit-translate(-50%,-50%);
		transform: -moz-translate(-50%,-50%);
		transform: -ms-translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	@media all and (min-width: theme(screens.md)){
		@apply mx-0 absolute pl-2;
		top: -20px;
		left: 55%;
	}
	@media all and (min-width: theme(screens.cmax)){
		left: 48%;
		width: 52%;
		.intro-image-inner{
			width: 536px;
			left: 54%;
		}
	}
}

.home-resources{
	&:after{
		@apply block h-full absolute top-0 bg-grey-light;
		content: '';
		left: -50vw;
		width: 200vw;
		z-index: -1;
	}
	.home-resource-icon{
		@apply w-16 h-16 m-auto;
		&.q-icon{
			width: 68px;
			height: 68px;
		}
	}
}

/* PREFOOTER IMAGE */
.prefooter-wrapper > div{
	height: 240px;
	overflow: hidden;
	@media all and (min-width: theme(screens.md)){
		height: 312px;
	}
	@media all and (min-width: theme(screens.lg)){
		height: 376px;
	}

}

/* RESOURCE LIBRARY SEARCH BOX */
input:focus + .resource-search-icon{
	@apply text-grey-mid;
}
.resource-search-icon{
	@apply absolute text-blue w-7 h-7;
	top: 50%;
	right: 12px;
	margin-top: -20px;
}

/* CURRENT FILTERS LIST */
.current-refinements{
	@apply text-center;
	ul{
		@apply flex flex-row flex-wrap justify-center;
		li{
			& > span:first-child{
				display: none;
			}
			& > span:not(:first-child){
				@apply inline-block px-3 pt-2 pb-1half mb-2 bg-grey-light rounded-sm mr-2 text-15 font-header font-bold;
				& > span{
					@apply mr-2 leading-none;
				}
				& > button{
					@apply font-bold font-header text-blue;
					text-shadow: 1px 1px 1px theme(colors.grey.dark);
					&:hover,&:focus{
						@apply text-green;
					}
				}
			}
		}
	}
	@media screen and (min-width: theme(screens.md)){
		& > *{
			@apply float-left;
		}
		ul{
			@apply justify-start;
		}
	}
}
.clear-filters{
	button{
		@apply inline-block bg-blue text-white text-15 px-3 pt-2 pb-1half font-header font-extrabold mb-6;
		&:hover,&:focus{
			@apply bg-grey-dark;
		}
		&:disabled,&[disabled]{
			@apply hidden;
		}
	}
}

/* RESOURCE LIBRARY FILTERS */
.filter-icon{
	@apply absolute w-6 h-6;
	top: 50%;
	right: 14px;
	margin-top: -13px;
}
#resource-filter-list{
	@media screen and (min-width: theme(screens.md)){
		height: auto !important;
		& > div{
			display: block !important;
		}
	}
}
.filter-list{
	@apply overflow-hidden; 
	@media screen and (min-width: theme(screens.md)){
		margin-left: 0 !important;
		margin-right: 0 !important;
		height: auto !important;
	}
}

/* RESOURCE FILTER GROUPS */
.filter-group{
	&.active-group:not(:last-child){
		@apply mb-6;
	}
	@media screen and (min-width: theme(screens.md)){
		@apply w-full px-0;
	}
}
.filter-group-toggle{
	@apply relative pb-2 border-b border-grey-mid text-left w-full text-20 font-extrabold;
	&:after{
		@apply block absolute right-0 w-0 h-0;
		content: '';
		top: 6px;
		-webkit-transform: rotate(0.05deg);
		-moz-transform: scale(1.1);
		transform: rotate(0.05deg);
		border-left: 8px double rgba(0,0,0,0);
		border-right: 8px double rgba(0,0,0,0);
		border-top: 8px solid theme(colors.black.default);
	}
	&.display-group:after{
		@apply border-t-0;
		border-bottom: 8px solid theme(colors.black.default);
	}
}
.filter-group-list{
	@apply overflow-hidden;
	& > div{
		@apply border border-grey-mid bg-white p-3 mb-6 h-full overflow-y-scroll;
		max-height: 250px;
	}
	&:not(.noscroll) > div{
		&::-webkit-scrollbar {
	    width: 16px;
		}
		&::-webkit-scrollbar-track {
			border-left: 1px solid theme(colors.grey.midAlt);
		}
		&::-webkit-scrollbar-thumb {
	    @apply bg-grey-midAlt;
		}
		&::-webkit-scrollbar-button {
			@apply: hidden;
		}
	}

	label{
		@apply text-16 inline-block mb-1half text-grey-darker cursor-pointer;
		input{
			@apply absolute opacity-0;
			&:checked{
				& + span:first-of-type{
					@apply text-blue;
				}
				&:hover{
					& + span:first-of-type{
						@apply text-green-dark;
					}
				}
				&:focus{
					& + span:first-of-type{
						@apply underline;
					}
				}
			}
			&:hover{
				& + span:first-of-type{
					@apply text-green-dark;
				}
			}
			&:focus{
				& + span:first-of-type{
					@apply underline;
				}
			}
		}
		span:last-of-type{
			@apply hidden;
		}
	}
}
/* RESOURCE RESULTS LIST */
.results-list{
	ul{
		& > li:not(:last-child){
			@apply border-b border-grey-midAlt mb-6;
		}
		@media all and (min-width: theme(screens.md)){
			@apply flex flex-row flex-wrap -mx-2;
			& > li{
				@apply w-1/2 px-2;
				&:not(:last-child){
					@apply border-0 mb-0;
				}
			}
		}
		@media all and (min-width: theme(screens.lg)){
			@apply mx-0;
			& > li{
				@apply w-1/3 px-4;
			}
		}
	}
}
/* RESULT RESOURCE ITEM */
.resource-link{
	& > span{
		@apply mb-3half h-16 inline-block;
	}
	h2{
		@apply no-underline;
	}
	&:hover,&:focus{
		.resource-icon{
			@apply opacity-50;
		}
		h2{
			@apply text-green-dark underline;
		}
	}
	.resource-icon{
		@apply w-16 h-16 m-auto inline-block;
		&.q-icon{
			width: 68px;
			height: 68px;
		}
		@media screen and (min-width: theme(screens.md)){
			@apply mx-0;
		}
	}
}

/* RESOURCE PAGER */
#pagination{
	ul{
		@apply flex flex-row flex-wrap justify-center;
		li{
			a,span{
				@apply block rounded w-8 h-8 leading-none border border-blue text-blue font-bold flex flex-col justify-center items-center;
				margin: 0 4px 10px;
			}
			span{
				@apply opacity-50;
			}
			a{
				&:hover,&:focus{
					@apply bg-green border-green text-white;
				}
			}
		}
	}
}


/* PARAGRAPHS */
.accordion-text{
	*:last-child{
		@apply mb-0;
		*:last-child{
			@apply mb-0;
		}
	}
}
.video-holder{
	@apply relative;
	padding-bottom: 56.25%;
}

/* CSS MULTICOLUMN */
.cs-multi-col{
	& > div{
		@apply inline-block w-full mb-1;
	}
	@media screen and (min-width: theme(screens.xs)){
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: theme(spacing.8);
		-moz-column-gap: theme(spacing.8);
		column-gap: theme(spacing.8);
	}
}

.ais-Pagination-link--selected {
	background: #15c;
    color: #fff!important;
}
